.header {
  font-family: 'Quicksand', sans-serif;
}

.column {
  width: 500px;
  float: left;
}

img {
  width: 100%;
}

.image-size{
  width: 150px;
}

.special {
  font-style: normal;
  color: red;
}
