body {
  font-family: 'Quicksand', sans-serif;
  
}

.name {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  border: 4px solid black;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}

.header {
  font-family: 'Quicksand', sans-serif;
}

.column {
  width: 500px;
  float: left;
  margin: 20px;
}

.column img {
    border: 2px solid black;
    padding: 10px;
}

img {
  width: 100%;
}

.image-size{
  width: 150px;
}

.special {
  font-style: normal;
  color: red;
}

.sidebar {
  float: right;
  width: 20%;

}
